/*===== Banner Styles =====*/
#home {
	height: 500px;
	background-image: url('../img/white-honeycomb.jpg');
	background-size: cover;
	background-attachment: fixed;
}

#home .container {
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding-top: 370px;
}

#home h1 {
	align-self: flex-start;
	font-family: 'Vollkorn', serif;
	font-weight: 700;
	font-size: 50px;
	padding-top: 70px;
	color: #000;

}

#home img {
	max-height: 300px;
}

.row #banner-logo {
	display: flex;
}

.contact-icons {
	float: left;

}

.contact-icons i {
  color: #000;
  font-size: 2em;
  padding: 128px 6px;
}



/*===== Navbar Styles =====*/
.nav {
	padding-left: 407px;
	padding-top: 150px;
}

.nav-pills a {
	color: #000;
	padding-left: 20px;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;

}

.nav li a {
	padding: 10px 35px;
	font-family: 'Abril Fatface', cursive;	
	font-size: 20px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
	color: #000;
	font-family: 'Abril Fatface', cursive;
	font-size: 20px;
	background-color: #fff;
}



/*===== Skills Styles =====*/
#skills {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#skills .container {
	height: 200px;
}



#skills .cut-out {
	height: 250px;
	width: 250px;
	border-radius: 100%; 	
	background-color: #fff;
}

#cut-out-row {
	display: flex;
	justify-content: center;
	align-items: center;
}

#skills h1 {
	font-family: 'Abril Fatface', cursive;
	color: #000;
}

/*===== Projects Styles =====*/
#projects {
	height: 650px;
	background-image: url('../img/white-honeycomb.jpg');
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}

#projects h1 {
	display: flex;
	justify-content: center;
	font-family: 'Abril Fatface', cursive;
	font-size: 55px;
	color: #000;
}

#thumbnails {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
}

.thumbnail img {
	height: 250px;
	width: 250px;
}


/*===== Contact Styles =====*/

#contact h1 {
	font-family: 'Abril Fatface', cursive;
	text-align: center;

}

/*===== Footer Styles =====*/
#footer {
  height: 150px;
  width: 100%;
  background-color: #ECE4D9;
  padding-top: 50px;
}

#footer h5 {
  color: #fff;
  text-align: center;
}

.contact {
  text-align: center;
}

.footer-icons {
  float: left;

}

.footer-icons i {
  color: #000;
  font-size: 2em;
  padding: 19px 6px;
}



